#project_h1 {
	color: #40E0D0;
	font-size: 48px;
	margin: 16px;
}

#about_h1 {
	color: #71f778;
	font-size: 48px;
	margin: 16px;
}

#contact_h1 {
	color: #f7e571;
	font-size: 48px;
	margin: 16px;
}

body {
	background-color: black;
	color: white;
}

p {
	margin: 16px;
	width: 700px;
	font-size: 32px;
}

a {
	color: inherit;
}

a:link {
	test-decorations: none;
}

a:visited {
	text-decorations: none;
}

a:hover {
	text-decorations: none;
}

a:active {
	text-decorations: none;
}