html {
	height: auto;
}

#hiking_page, #img_carousel {
	height: auto;
	margin: 0;
}

#hiking_page #templateArea {
	height: auto;
	width: 100%;
}

#slideshow {
	height: auto;
	width: 97%;
	margin:0 auto;
}

#hiking_page img, #img_carousel img {
	height: auto;
	width: 100%;
	margin:0px auto;
	display: block; 
}