html {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Index style */
#index {
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	height: 100%;
}

#index img {
	width: 15%;
	margin: 5px;
}

#index h1 {
	font-size: 15%;
}

#index a {
	text-decoration: none;
	width: 15%;
}

#index .title {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	width: 60%;
}

/* Colors for Project pages */
#project_index{background-color: black;color: white;}

#project_page{background-color: #D1D1D1;color: #02463b;}

#project_index h1, #project_index a:link {
	color: #40E0D0;
}

#project_index a:visited {
	color: #2a8e84;
}

 #project_page h1 {
	 color: #02463b;
 }
 
 #project_page h2, #project_page .date_heading {
	color: #632d47;
}

/* #project_page .date_heading {
	color: #c9c684;
} */
 
 #project_page a:link {
	 color: #0b0edd;
 }

#project_page a:visited {
	color: #9d0ace;
}

#project_index a:link {
	text-decoration: none;
}

/* Project style */

#project_page {
	margin:0 auto;
	font-size: 18px;
}

#project_page #content_wrapper {
	width: 800px;
	margin: 32px auto;
}

#project_page #content_area {
	width: 700px;
}

#project_page p {
	letter-spacing: 0px;
	line-height: 30px;
	margin: 0px 0px 32px 0px;
}

#project_page h1{
	margin: 0px 0px 20px 0px;
}

#project_page h2{
	font-size: 26px;
}

#project_page h3{
	font-size: 20px;
}

#project_page .date_heading h2{
	display: inline-block;
	margin-right: 32px;
	margin-top: 0px;
	margin-bottom: 6px;
}

#project_page img {
	width: 100%;
	margin: 0px 0px 24px 0px;
}

#project_index h1, #about h1, #contact h1 {
	margin: 16px 16px 6px 16px;
}


#project_index table, #hike_index table {
	border: 0;
}

#project_index th, #project_index td, #hike_index th, #hike_index td {
	padding: 16px;
}

#project_page iframe {
	width: inherit;
	margin: 0px 0px 32px 0px;
	height: 400px;
}

#project_page figure {
	margin: 0px;
}

#project_page figcaption {
	color: gray;
	margin:0px 0px 16px 0px;
	text-align: center;
}

/* Colors for hiking pages */
#hike_index a:link {
	text-decoration: none;
}
/*Pallete 1*/
#hiking_page h1 {
	color: #f6ed79;
}

#hiking_page a:link, #hike_index a:link {
	color: #a7ff71;
}

#hike_index a:link {
	text-decoration: none;
}

#hiking_page a:visited, #hike_index a:visited {
	color: #689f46;
}

#hiking_index, #hiking_page{background-color: black;color: white;}

/* Hikes Style */
#hiking_page h1 {
	font-size: 24px;
	text-align: center;
	padding: 20px;
	margin: 0px;
}

#hiking_page #nxt_pre_bttns {
	position:absolute;
	width: 300px;
	height: 10%;
	bottom: 0px;
	right:25%;
    left:50%;
	margin-left:-150px;
	text-align: center;
	margin-top: 16px;
}

#hiking_page #img_hike {
	visibility: hidden;
}

#hiking_page .top {
	height: 75px;
	display: block;
}

#hiking_page .logo {
	display: inline-block;
	width: 50px;
}

#hiking_page .logo img {
	width: 100%;
}

#hike_index h1 {
	position: absolute;
	left: 140px;
	top: 7px;
}

#hiking_page .home-icon {
	position: absolute;
	left: 24px;
	top: 7px;
}

#hiking_page .secondary-icon {
	position: absolute;
	left: 88px;
	top: 7px;
}

#hiking_page .previous, #hiking_page .next {
    background-color: white;
	font-size: 20px;
    color: black;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

#hiking_page button {
	border: none;
	text-decoration: none;
}

#hiking_page #id {
	visibility: hidden;
}

/* style images page */
#img_carousel .previous, #img_carousel .next {
    background-color: lightgray;
	font-size: 20px;
    color: black;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

#img_carousel button {
	border: none;
	text-decoration: none;
}
#img_carousel #nxt_pre_bttns {
	position:absolute;
	width: 300px;
	height: 10%;
	bottom: 0px;
	right:25%;
    left:50%;
	margin-left:-150px;
	text-align: center;
	margin-top: 16px;
}

#img_carousel #id {
	visibility: hidden;
} 

#img_gal .top {
	height: 75px;
	display: block;
	margin:0 auto;
}

 #img_carousel .top {
	height: 75px;
	display: block;
	margin:0 auto;
 }

#img_gal .logo {
	display: inline-block;
	width: 50px;
}

 #img_carousel .logo  {
	display: inline-block;
	width: 50px;
 }

#img_gal .logo img, #img_carousel .logo img {
	width: 100%;
}

#img_gal .home-icon {
	position: absolute;
	left: 24px;
	top: 16px;
}

#img_carousel .home-icon {
	position: absolute;
	left: 24px;
	top: 16px;
}

#img_gal .secondary-icon {
	position: absolute;
	left: 88px;
	top: 18px;
}

#img_carousel .secondary-icon {
	position: absolute;
	left: 88px;
	top: 16px;
}

/* Colors for images page */
#img_carousel {background-color: #312b33;color: white;}

#img_gal {background-color: #312b33;color: white;}

/*Colors for about page */
#about h1 {
	color: #71f778;
}

#about{background-color: black;color: white;}

/* Style about page */
#about {
}

#about p {
	width: 700px;
	margin: 16px;
	font-size: 24px;
}

#about h1 {
	font-size: 48px;
}

#about a {
	text-decoration: none;
	color: white;
}

/*Colors for contact page */
#contact h1 {
	color: #f7e571;
}

#contact{background-color: black;color: white;}

/* bio style */
#bio {
	width: 500px;
}

#bio_index a{
}

#bio_index {
	width: 500px;
}

#bio_index ul {
  list-style-type: none;
  padding: 0px;
}

#bio_index li{
	margin: 4px;
}