
html {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Index style */
#index {
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	height: 100%;
}

#index img {
	width: 13%;
	margin: 5px;
}

#index h1 {
	font-size: 15%;
}

#index a {
	text-decoration: none;
	width: 15%;
}

#index .title {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	width: 60%;
}

/* About style */
#about{background-color: #fafafa;color: #262626;}

#about {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	width: 500px;
    margin: 32px 32px 32px 32px;
}

#about h1 {
	color: black;
}

#about img {
    width:200px;
	border-radius: 50%;
    border: 7px solid #008080;
}

/* Shared styles, for consistency */

#project_index h1, #about h1, #contact h1 {
	margin: 16px 16px 6px 16px;
	font-size: 32px
}

#project_index table, #hike_index table {
	border: 0;
}

/* Colors for Project pages */
#project_index{background-color: #fafafa;color: #262626;}

#project_page{background-color: #fafafa;color: #262626;}

#project_index h1, #project_index a:link {
	color: #008080;
}

#project_index a:visited {
	color: #9d0ace;
}

#project_index .date {
	color: #660033;
}

#project_page h1 {
	color: #008080;
}

#project_page h2, #project_page #date_heading {
	color: #660033;
}

/* #project_page .date_heading f{
	color: #c9c684;
} */


#project_page a:link {
	 color: #0b0edd;
 }

#project_page a:visited {
	color: #9d0ace;
}

#project_index a.about_link:link {color: gray;}
#project_index a.about_link:visited {color: gray;}
#project_index a.about_link:hover {color: gray;}
#project_index a.about_link:active {color: gray;}

#project_index a.about_link {
    color: black;
    font-size: 24px;
}

/* Project style */

#project_index {
	font-size: 18px;
}

#project_index h1 {
    display:inline-block;
}

#project_index a {
	text-decoration: none;
}


#project_page {
	margin:0 auto;
	font-size: 18px;
}

#project_page #content_wrapper {
	width: 800px;
	margin: 32px auto;
}

#project_page #content_area {
	width: 700px;
}

#project_page p {
	letter-spacing: 0px;
	line-height: 30px;
	margin: 6px 0px 16px 0px;
}

#project_page h1{
	margin: 0px 0px 20px 0px;
}

#project_page h2{
	font-size: 26px;
}

#project_page h3{
	font-size: 20px;
}

#project_page h2{
	display: inline-block;
	margin-right: 32px;
	margin-top: 0px;
	margin-bottom: 6px;
}

#project_page .date_heading h1{
	margin-right: 32px;
	margin-top: 0px;
	margin-bottom: 12px;
}

#project_page code{
}

#project_page pre {
/*https://stackoverflow.com/questions/4000792/how-can-i-style-code-listings-using-css*/
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

project_page .date_heading {
	margin-bottom: 32px;
}

#project_page img {
	width: 100%;
	margin: 12px 0px 24px 0px;
}

#project_page iframe {
	width: inherit;
	margin: 0px 0px 32px 0px;
	height: 400px;
}

#project_page figure {
	margin: 0px;
}

#project_page figcaption {
	color: gray;
	margin:0px 0px 16px 0px;
	text-align: center;
}

/* Index table settings */

#project_index th, #project_index td, #hike_index th, #hike_index td {
	padding: 8px 16px 8px 16px;
}

/****** LIKES ******/

#likes .logo {
	display: inline-block;
	height: 70px;
	margin: 5px 0px 0px 10px;
}

/*#likes .top {*/
/*	height: 70px;*/
/*}*/

#likes {
/*	background-color: #fffebb*/
/*	background-color: #300835*/
	background-color: #073340
}

#likes a {
/*	color: #1f3fbf;*/
	color: #f7f437;
	text-decoration: none;
}

#likes a:visited {
	color: #5aa25e;
/*	color: #6a0091;*/
}

#likes tr.like  {
	display: block;
	margin: 5px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
}

#likes td.like  {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#likes_page {
	width: 600px;
	color: #fff3f5;
	background-color: #36393f;
	line-height: 1.75;
	font-weight: 300;
	font-family: sans-serif;
}

#likes_page a {
	color: #f7f437;
}

#likes_page a:visited {
	color: #5aa25e;
}

