h1 {
	font-size: 128x;
}

a:link {
	color: #10a899;
	test-decorations: none;
}

a:visited {
	color: #10a899;
	text-decorations: none;
}

a:hover {
	color: #a85a10;
	text-decorations: none;
}

a:active {
	color: #10a899;
	text-decorations: none;
}