html {
	height: 100%;
}

#hiking_page, #img_page {
	height: 100%;
	margin: 0;
}

#hiking_page #templateArea {
	height: inherit;
	width: auto;
}

#hiking_page #slideshow {
	height: 75%;
	width: auto;
	margin:0 auto;
}

#img_page #slideshow {
	height: 85%;
	width: auto;
	margin:0 auto;
}

#hiking_page img, #img_page img {
	height: 100%;
	margin:0px auto;
	display: block;
}