html {
	height: 100%;
}

#hiking_page {
	height: 100%;
	margin: 0;
}

#hiking_page #templateArea {
	height: inherit;
	width: auto;
}

#slideshow {
	height: 80%;
	width: auto;
	margin:0 auto;
}
#hiking_page img {
	height: 100%;
	margin:0px auto;
	display: block;
}